/* 404页面 */
html,body{
	height: 100%;
}

.errorPage{
	height: 960px;
	background: url(../img/error_bgf.jpg) no-repeat center top;
}
.errorH{
	height: 102px;
	padding: 49px 0;
	position: relative;
}
.error_line{
	height: 1px;
	display: block;
	background-color: #2a2318;
	width: 100%;
	margin-top: 50px;
}
.errorH .logo_bgf{
	width: 326px;
	height: 102px;
	background-color: #111217;
	position: absolute;
	margin: 0 auto;
	left: 50%;
	margin-left:  -162px;
}
.errorM{
	background: url(../img/error_tip.png) no-repeat center top;
	padding-top: 300px;
}
.errorM h2{
	width: 250px;
	text-align: center;
	margin: 20px auto;
	font-size: 22px;
	line-height: 30px;
	color: #fff;
}
.contact{
	text-align: center;
	margin: 25px 0;
}
.contact li{
	display: inline-block;
	font-size: 18px;
	color: #c78800;
	padding-left: 75px;	
	background-repeat: no-repeat;
}
.contact li.tel{
	background-image: url(../img/error_tel.png);
	background-position: 40px 0px;
}
.contact li.ema{
	background-image: url(../img/error_ema.png);
	background-position: 40px 3px;
}
.btn_list{
	margin-top: 75px;
	text-align: center;
}
.btn_list a{
	display:inline-block;
	margin-left: 25px;
}
.errorFot{
	width: 1180px;
	margin: 45px auto;
}
