.loginPop {}

.loginPop.hide {
    display: none;
}

.popCover {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #333;
    opacity: .3;
    z-index: 99998;
}

.popMain {
    width: 374px;
    height: 470px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -180px;
    margin-top: -235px;
    background: #000;
    border: 7px solid #474747;
    border-radius: 15px;
    z-index: 99999;
}

.popHead {
    position: relative;
    height: 160px;
    background: url(../img/moadel_logo.png) no-repeat center;
}

.closePop {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    font-size: 24px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    height: 30px;
    cursor: pointer;
}

.modal.fade.in {
    top: 20%;
}

#modal {
    width: 360px;
    margin-left: -180px;
    background: none;
}

.modal-content {
    border: 7px solid #474747;
    border-radius: 15px;
    width: 360px;
    padding-bottom: 30px;
    background: url(../img/modal_bgf.png);
}


.modal_tx {
    position: relative;
    padding: 0 38px;
    height: 30px;
    margin-bottom: 10px;
}

.modal_tx .modal_erro {
    font-size: 14px;
    width: 140px;
    color: #ffea00;
    position: absolute;
    left: 50%;
    margin-left: -70px;
    text-align: center;
    color: #ffea00;
    line-height: 30px;
    background: url(../img/modal_bgf.png);
    z-index: 2;
}

.modal_hr_l,
.modal_hr_r {
    height: 1px;
    width: 74px;
    position: absolute;
    top: 14px;
    background: #fff;
}

.modal_hr_l {
    left: 38px;
}

.modal_hr_r {
    right: 38px;
}

.modal_m .modal_grop {
    width: 280px;
    margin: 0 auto;
}

.loginInput {
    background: #1f1f1f;
    border: 1px solid #3a3a3a;
    border-radius: 7px;
}
.modal_h{
	height: 160px;
	background: url(../img/moadel_logo.png) no-repeat center top;
}
.modal_grop .input_row {
    margin: 0 3px;
    padding: 8px 0;
    border-bottom: 1px solid #797979;
}

.modal_grop .input_row.no_bor {
    border: 0;
}

.modal_grop .input_row label {
    float: left;
    width: 50px;
    height: 25px;
    border-right: 1px solid #fff;
    margin: 2px 0;
}

.modal_grop .input_row input {
    float: left;
    color: #fff;
    background: none;
    border: 0;
}

.modal_grop .input_row.phone label {
    background: url(../img/loginPhone_icon.png) center top no-repeat;
}

.modal_grop .input_row.pswor label {
    background: url(../img/loginpop_paw.png) no-repeat center top;
}

.modal_grop .input_row.pswor input {
    width: 140px;
}

.modal_grop .input_row.pswor a {
    float: right;
    line-height: 30px;
    color: #fff;
}

.modal_grop .input_row.popCode label {
    background: url(../img/loginpop_code.png) no-repeat center top;
}

.modal_grop .input_row.popCode input {
    width: 140px;
}

.modal_grop .input_row.popCode span.popCode {
    float: right;
    width: 60px;
    line-height: 30px;
    height: 30px;
    background: #fff;
}

.modal_goLogin {
    display: block;
    width: 280px;
    height: 35px;
    margin: 15px auto;
    cursor: pointer;
    background: url(../img/loginpop_btn.png) left top no-repeat;
}

.modal_goLogin:hover {
    opacity: 0.8;
}

.modal_reg {
    text-align: center;
    color: #fff;
}

.modal_reg a {
    color: #ffea00;
}

.modal_h span.closePop {
    color: #fff;
    font-size: 24px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    position: absolute;
    right: 0px;
    top: 10px;
}

.popBtn_list {
    text-align: center;
    padding-top: 25px;
    margin: 0 10px;
    border-top: 1px solid #2b2b2b;
}

.popBtn_list a {
    display: inline-block;
    width: 120px;
    height: 35px;
    margin-left: 5px;
}

.popBtn_list a:hover {
    opacity: 0.8;
}

.modal_main h2 {
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding-bottom: 20px;
}

.pop_conf {
    background: url(../img/pop_conf.png) no-repeat center top;
}

.pop_closeBtn {
    background: url(../img/pop_btnClose.png) no-repeat center top;
}