
.clothing.pt{
	position: relative;
	background: #000 url(../img/pt_subBan1.jpg) no-repeat center 0;
}
.subBanner2{
	overflow: hidden;
	height: 235px;
	position: relative;
}
.subBanner{
	overflow: hidden;
	height: 502px;
	position: relative;
}
.clothing.mg-ganme .subBanner,.clothing.ttg .subBanner{
	height: 502px;
}

.mg {
	padding-bottom: 100px;
	position: relative;
}

.mg_title {
	position: relative;
	height: 52px;
	background: url(../img/ptnav_bgf.png) repeat;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border: 1px solid #393939;
}

p.fishing_crumb {
	font-size: 20px;
	color: #ffd08c;
	position: absolute;
	top: 20%;
	left: 50px;
}

.game_nav {
	position: absolute;
	height: 52px;
	padding: 0 15px;
}

.game_nav li {
	float: left;
	line-height: 24px;
	font-size: 16px;
	color: #ffd08c;
	margin-top: 13px;
	margin: 13px 25px 0;
	text-align: center;
	cursor: pointer;
	position: relative;
}

.game_nav.mg li {
	margin: 13px 15px 0;
}

.game_nav li span {
	position: absolute;
	height: 24px;
	width: 8px;
	z-index: 1;
	display: none;
}

.game_nav li span.game_nav_left {
	background: url(../img/ptnav_hover_left.png) no-repeat left top;
	left: -8px;
	top: 0;
}

.game_nav li span.game_nav_right {
	background: url(../img/ptnav_hover_right.png) no-repeat left top;
	right: -8px;
	top: 0;
}

.game_nav li:hover {
	color: #ebfc2e;
	background: url(../img/ptnav_hover.png) repeat left top;
}

.game_nav li:hover span {
	display: block;
}

.game_nav li.on {
	color: #ebfc2e;
	background: url(../img/ptnav_hover.png) repeat left top;
}

.game_nav li.on span {
	display: block;
}

.game_search {
	position: absolute;
	right: 10px;
	top: 10px;
	box-shadow: none;
}

.game_search .form-search {
	position: relative;
}

.game_search .form-search input {
	background: none;
	border-radius: 5px;
	border-color: #ffdcb3;
	color: #fff;
	width: 150px;
}

.game_search .form-search button {
	border: 0;
	background: none;
	box-shadow: none;
}

.mg_main {
	background: url(../img/game_bgf.png);
	border-left: 1px solid #393939;
	border-right: 1px solid #393939;
	border-bottom: 1px solid #393939;
	padding-bottom: 35px;
	min-height: 300px;
}

.game_subNav {
	height: 36px;
}

.game_subNav>li ul {
	padding: 0 15px;
}

.game_subNav>li li {
	float: left;
	line-height: 24px;
	font-size: 16px;
	margin: 6px 15px;
	padding: 0 10px;
	text-align: center;
	color: #e88118;
	cursor: pointer;
}

.game_subNav>li ul {
	float: left;
}

.game_subNav>li h2 {
	float: left;
	color: #fff;
	font-size: 18px;
	line-height: 24px;
	margin: 6px 0 6px 15px;
}

.game_subNav>li li:hover {
	background: #633517;
	border-radius: 5px;
	color: #ebfc2e;
}

.game_subNav>li li.on {
	background: #633517;
	border-radius: 5px;
	color: #ebfc2e;
}

.game_subNav>li {
	display: none;
}

.game_subNav>li.on {
	display: block;
}

.game_list {
	border: 1px solid #383838;
	margin: 0 8px;
	border-radius: 5px;
	background: url(../img/game_nav_bgf.png);
}

.game_list ul {
	padding: 19px 5px;
	margin-left: -10px;
}

.game_list li {
	width: 222px;
	height: 300px;
	margin-left: 10px;
	margin-bottom: 10px;
	float: left;
	position: relative;
	background: url(../img/game-kuang.png) left top;
}

.game_list li h2 {
	font-weight: bold;
	position: absolute;
	left: 10px;
	line-height: 25px;
	height: 25px;
	padding: 0 5px;
	font-size: 18px;
	background: #ffd292;
	color: #000;
}

.game_list li span.pt_gameBtn {
	position: absolute;
	bottom: 8px;
	left: 7px;
	width: 208px;
	height: 60px;
	line-height: 60px;
	font-size: 19px;
	color: #591a01;
	text-align: center;
	font-weight: bold;
	background: url(../img/anniu.png) left top;
}

.game_list li span.pt_gameBtn:hover {
	color: #000000;
	background: url(../img/big_hover.png);
}

.game_list li p.pt_gameBtn {
	position: absolute;
	bottom: 8px;
	left: 7px;
	width: 209px;
	height: 60px;
	line-height: 60px;
	font-size: 19px;
	color: #591a01;
	text-align: center;
	font-weight: bold;
	background: url(../img/button_quan1.png) left top;
}

.game_list li .pt_gameBtn b {
	display: inline-block;
	width: 5px;
	height: 24px;
	border-right: 2px solid #000;
	position: absolute;
	bottom: 18px;
	left: 99px;
}

.game_list li .pt_gameBtn .pt_gameBtn_left {
	display: inline-block;
	width: 91px;
	height: 57px;
	position: absolute;
	left: 7px;
	color: #591a01;
}

.game_list li .pt_gameBtn .pt_gameBtn_left:hover {
	background: url(../img/button_left.png) -7px 0px;
	color: #000000;
}

.game_list li .pt_gameBtn .pt_gameBtn_right {
	display: inline-block;
	width: 87px;
	height: 57px;
	position: absolute;
	left: 113px;
	color: #591a01;
}

.game_list li .pt_gameBtn .pt_gameBtn_right:hover {
	background: url(../img/button_right2.png);
	color: #000000;
}

.subBanner.pt {
	height: 502px;
}

.ptBanr_con {
	width: 830px;
	height: 272px;
	margin-left: 290px;
	margin-top: 140px;
	position: relative;
	background: url(../img/touming.png) repeat;
}

.ptBanr_pel {
	position: absolute;
	top: -110px;
	left: -140px;
	z-index: 1;
}

.ptBanr_up {
	position: absolute;
	width: 830px;
	height: 272px;
	z-index: 2;
}

.ptBanr_up>h2 {
	padding-left: 345px;
	line-height: 52px;
	height: 52px;
	font-size: 46px;
	color: #f3c686;
	background: url(../img/font.png) 95px top no-repeat;
}

.ptBanr_up .pt_carousel {
	width: 630px;
	margin-left: 15px;
}

.pt_carousel .carousel-inner {
	height: 213px;
	width: 630px;
}

.pt_carousel .carousel-indicators {
	position: absolute;
	bottom: 10px;
	left: 305px;
	z-index: 10;
}

.pt_carousel .carousel-indicators li {
	display: block;
	float: left;
	width: 20px;
	height: 17px;
	background: url(../img/lunboxuanzhongkong.png) no-repeat left top;
}

.pt_carousel .carousel-indicators li.active {
	background: url(../img/lunboxuanzhong.png) no-repeat left top;
}

.pt_carousel .carousel-control {
	border: 0;
	background: none;
}

.down_icon {
	width: 155px;
	margin-right: 15px;
	margin-top: -10px;
}

.down_icon li {
	position: relative;
}

.down_icon h2 {
	color: #a3e0ff;
	font-size: 21px;
	text-align: center;
	line-height: 35px;
}

.down_icon a {
	display: block;
	padding-bottom: 10px;
}

.down_icon .pc_down {
	border-bottom: 1px dashed #a3e0ff;
	padding: 15px 0;
}

.down_icon .phoneCode {
	width: 95px;
	margin-top: 20px;
	padding: 5px;
	border: 2px solid #9e7e4c;
}

.game_rightNav {
	margin-bottom: 25px;
}

.ptPhoneDown {
	position: absolute;
	right: 0;
	top: 0;
}

.game_rightNav span.goTop {
	display: block;
	height: 60px;
	cursor: pointer;
}

.game_subNavList {
	width: 1178px;
	height: 150px;
	border: 2px solid #ac8a54;
}

.game_subNavList li {
	float: left;
	border-right: 2px solid #ac8a54;
	width: 146px;
	height: 146px;
	text-align: left;
	color: #f48b0f;
	line-height: 43px;
	position: relative;
	cursor: pointer;
	background: url(../img/subNavListBgf.png) repeat-x top left;
}
.game_subNavList li:last-child{
	border-right: 0;
	width: 152px;
}

.game_subNavList li span {
	position: absolute;
	width: 18px;
	height: 10px;
	left: 50%;
	bottom: -10px;
	z-index: 10;
	margin-left: -9px;
	background: url(../img/game_subNavThrow.png) no-repeat left top;
}

.game_subNavList li>a.active {
	background: url(../img/subNavListActive.png) repeat-x left top;
}

.game_subNavList li>a:hover {
	background: url(../img/subNavListActive.png) repeat-x left top;
}

.game_subNavList li a {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}

.subNavImg {
	text-align: center;
	margin-top: 5px;
}

.subNavImg img {
	display: inline-block;
}

.game_subNavList li p {
	position: absolute;
	padding-right: 30px;
	bottom: 0;
	right: 18px;
	font-size: 18px;
	color: #ff7100;
	line-height: 40px;
	background: url(../img/gameNavPBgf.png) no-repeat right 10px;
}

.game_subNavList li>a.active p {
	color: #fff;
}

.game_subNavList li:hover a {
	color: #f48b0f;
}

.game_subNavList li:hover p {
	color: #fff;
}

.game_subNavList li:hover span {
	display: block;
}

.game_subNavList li span {
	display: none;
}

.game_subNavList li>a.active span {
	display: block;
}

.pt_Img {
	height: 228px;
	margin: 0 4px;
	position: relative;
	overflow: hidden;
}

.ttg_Img {
	height: 228px;
	margin: 0 4px;
	position: relative;
	overflow: hidden;
}

.pt_gameTip {
	width: 70px;
	height: 70px;
	background: url(../img/game_newTip.png) no-repeat left top;
	position: absolute;
	left: -1px;
	top: -1px;
	z-index: 10;
}

.pt_Img img {
	width: 140px;
	margin: 8px auto;
}

.ttg_Img img {
	width: 150px;
	margin: 25px auto;
}

.pt_gameList li:hover img {
	transform: scale(1.2, 1.2);
	transition: 1s transform;
}

.gpi_gameList li:hover .gpi_hover {
	transform: scale(1.2, 1.2);
	transition: 1s transform;
}

.gpi_hover {
	width: 150px;
	margin: 0 auto;
	height: 153px;
	background: #fff;
}

.pt_name {
	position: absolute;
	width: 100%;
	bottom: 0;
	font-size: 18px;
	color: #fff;
	line-height: 25px;
	text-align: center;
	background: url(../img/i_gameBan_hover.png);
}

.mg_Img {
	position: relative;
	margin: 3px;
}

.mg_Img .mg_lazy {
	max-width: 1000% !important;
	position: absolute;
	left: 0;
	top: 35px;
}

.mgimgCor {
	width: 145px;
	height: 136px;
	overflow: hidden;
	margin: 0 auto;
	padding: 40px 0 50px;
	position: relative;
}

.gameNum {
	position: absolute;
	top: 0;
	height: 30px;
	line-height: 30px;
	text-align: center;
	z-index: 10;
	width: 100%;
}

.gameNumBgf {
	position: relative;
	padding: 0 2px;
}

.gameNumBgf span {
	position: absolute;
	top: 0;
	width: 3px;
	height: 30px;
}

.gameNumBgf h3 {
	line-height: 30px;
	color: #340f00;
	font-size: 16px;
	font-weight: bold;
	background: url(../img/gameAmeNum.png) repeat-x;
}

.gameNumBgf .gameNumLeft {
	left: 0px;
	background: url(../img/gameAmeNum_left.png) no-repeat;
}

.gameNumBgf .gameNumRight {
	right: 0px;
	background: url(../img/gameAmeNum_right.png) no-repeat;
}

.gameError {
	min-height: 920px;
	background: url(../img/gameErrorBgf.png) no-repeat center;
}

.gameError_h {
	padding-bottom: 50px;
	position: relative;
}

.gameError_hBor {
	height: 115px;
	border-bottom: 1px solid #2b2319;
}

.gameError_logo {
	width: 365px;
	position: absolute;
	background: #111217;
	left: 50%;
	margin-left: -184px;
	bottom: 0;
}

.gameError_logo img {
	display: block;
	margin: 0 auto;
}

.gameError_m {
	background: url(../img/gameErrorMain.png) no-repeat center;
	height: 407px;
	margin-top: 10px;
	position: relative;
}

.gameError_m_p {
	position: absolute;
	top: 120px;
	left: 210px;
}

.gameError_m_p h2 {
	font-size: 28px;
	color: #fff;
}

.gameError_m_p p {
	font-size: 18px;
	color: #fff;
}

.gameError_m_p span {
	color: #c78800;
	font-size: 16px;
	display: block;
	margin-top: 25px;
	margin-left: 130px;
}

.gameError_title {
	text-align: center;
}

.gameError_title p {
	display: inline-block;
	margin-left: 30px;
	color: #c78800;
	font-size: 18px;
	line-height: 30px;
}

.gameError_title .gameErrorPhone {
	padding-left: 35px;
	background: url(../img/gameErrorIphone.png) no-repeat 3px 3px;
}

.gameError_title .gameErrorEmail {
	padding-left: 35px;
	background: url(../img/gameErrorEmail.png) no-repeat 3px 7px;
}

.gameError_btn {
	margin-top: 65px;
	text-align: center;
}

.gameError_btn a {
	display: inline-block;
	margin-left: 30px;
	height: 142px;
}

.errorFot {
	width: 1180px;
	margin: 45px auto;
	height: 65px;
}