.liveCasino{
	padding: 30px 0 100px;
}
.liveCasino_item{
	margin-left: -4px;
}
.liveCasino_item li{
	float: left;
	background: url(../img/liveCasino_item_border.png) no-repeat left top;
	padding: 7px;
	position: relative;
	margin-left: 4px;
	margin-bottom: 10px;
}
.liveCasino_item li a{
 	cursor: pointer;
}
.liveItem_img{
	width: 278px;
	overflow: hidden;
}
.liveItem_img img{
	width: 100%;
	transition: .1s transform;
	transform: translateZ(0);
}
.live_listBrand{
	position: absolute;
    left: 15px;
    bottom: 15px;
}
.live_listBrand.tip{
	bottom: 20px;
}
.live_listBrand.ea,.live_listBrand.xiaojin{
	bottom:10px
}
.live_listBrand.ebet img{
	width: 85px;
}
.live_listBrand.ea img{
	width: 85px;
}

.liveItem_desc.ele_listDetailed{
	background: none;
	margin-top: 5px;
	padding: 22px 0 0;
	height: 65px;
}
.liveCasino_item .liveCasino_tip{
	position: absolute;
	left: -1px;
	top: -1px;
	width: 50px;
	height: 50px;
}
.liveCasino_item li:hover .ele_listDetailed h2{
	background-image: url(../img/ele_listDetailed_hover.png);
}
.ele_listDetailed{
	margin-top: 25px;
	padding: 5px 0 0;
	position: relative;
	background: url(../img/ele_gameBor.png) no-repeat top center;
}
.ele_listDetailed h2{
	float: right;
	margin-right: 10px;
    width: 100px;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	text-align: center;
	padding-right: 15px;
	color: #000;
	background: url(../img/ele_listDetailed_btn.png) no-repeat left top;
}
.ele_listDetailed h2 span{
	display: inline-block;
	color: #000;
	font-size: 16px;
	line-height: 1.5;
	padding: 0 5px;
	background: #ffcf8a;
}
.ele_listDetailed i{
	display: inline-block;
	padding: 0 5px;
}
.ele_listBrand{
	position: absolute;
	left: 5px;
	bottom: 10px;
}
.ele_listBrand.tip{
	bottom: 2px;
}
.live_listBrand{
	position: absolute;
    left: 15px;
    bottom: 15px;
}
.live_listBrand.tip{
	bottom: 20px;
}
.live_listBrand.ea,.live_listBrand.xiaojin{
	bottom:10px
}
.live_listBrand.ebet img{
	width: 85px;
}
.live_listBrand.ea img{
	width: 85px;
}
.liveItem_img img{
    transform: scale(1.1, 1.1);
    width: 100%;
	transition: .1s transform;
	transform: translateZ(0);
}
.liveCasino_item li:hover .liveItem_img img{
    transform: scale(1.1, 1.1);
	transition: 1s transform;
}