.ant-carousel .slick-slide {
  text-align: center;
  height: 816px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}
.i_game{
	padding: 70px 0;
}
.i_gameItem{
	margin-left: -5px;
}
.i_gameItem li{
	float: left;
	position: relative;
	margin-left: 5px;
	margin-bottom: 5px;
}
.i_gameItem span,.ele_listItem span.cover,.liveCasino_item span.cover{
	position: absolute;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url(../img/i_gameBan_hover.png);
	z-index: 10;
}
.i_gameItem li:hover span{
	display: block;
}