.register {
    margin-bottom: 80px;
    margin-top: 15px;
}

.reg_title {
    text-align: center;
    color: #d2a972;
    font-size: 14px;
    line-height: 64px;
    background: #060606;
    height: 64px;
    border-top: 1px solid #17130d;
    border-bottom: 1px solid #17130d;
}

.regM_title {
    color: #d2a972;
    margin-top: 20px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    padding-left: 45px;
    background: url(../img/reg_icon.png) no-repeat 15px 15px;
}

.regM_title span {
    font-size: 12px;
    color: #ff0000;
}

.regM_main {
    border: 5px solid #120f0a;
}

.reg_from,
.forgotPwd {
    padding: 34px 0;
    background: #060606;
}

.reg_group {
    position: relative;
}

.reg_group label {
    float: left;
}

.reg_group input {
    float: left;
    height: 30px;
}

.reg_group>span {
    float: left;
}

.reg_group label {
    width: 465px;
    height: 30px;
    line-height: 30px;
    color: #d2a972;
    font-size: 14px;
    margin-right: 20px;
    text-align: right;
    cursor: auto;
}

.reg_group label b {
    color: #ff0000;
    font-size: 11px;
    display: inline-block;
    margin-right: 10px;
}

.reg_group input {
    width: 255px;
    background: #060606;
    color: #fff;
    border: 1px solid #ffd08c;
}

.ant-form-explain {
    font-size: 12px;
    color: #d2a972;
    line-height: 30px;
    margin-left: 10px;
    width: 300px;
    position: absolute;
    right: -310px;
    top: 4px;
}
.ant-form-item-with-help{
    margin-bottom: 24px;
}

.reg_name .fast {
    display: none;
}

.reg_name .fast.on {
    display: block;
}

.reg_group .state {
    float: left;
    width: 19px;
    height: 19px;
    background-position: left top;
    background-repeat: no-repeat;
    background-image: url(../img/reg_true.png);
    margin-top: 5px;
    margin-left: 10px;
}

.reg_group .state.on {
    background-image: url(../img/reg_false.png);
}

.reg_group .fast.on {
    color: #dd0000;
}

.reg_group .fast.row_2 {
    position: absolute;
    line-height: 20px;
    margin-top: -5px;
}

.reg_group.code input {
    width: 115px;
}

.reg_group.code .code {
    float: left;
    width: 60px;
    height: 30px;
    background: #fff;
    margin-left: 5px;
}

.reg_group.code .chageCode {
    float: left;
    margin-left: 10px;
    line-height: 30px;
    color: #d2a972;
}

.reg_group.code .chageCode p {
    color: #d2a972;
}

.reg_group.code .chageCode a {
    color: #b90000;
    text-decoration: underline;
    cursor: pointer;
}

div.reg_tarea {
    display: block;
    width: 650px;
    height: 100px;
    padding: 10px;
    line-height: 20px;
    margin: 0 auto;
    border: 1px solid #d2a972;
    background-color: #060606;
    cursor: auto;
    color: #fff;
    position: relative;
    z-index: 1;
    overflow-y: scroll;
}

.reg_check input {
    float: left;
}

.reg_check label {
    float: left;
    margin-left: 10px;
    color: #d2a972;
}

.reg_check {
    width: 400px;
    margin: 0 auto;
}

.reg_btn {
    display: block;
    width: 71px;
    height: 26px;
    line-height: 24px;
    font-size: 16px;
    color: #ffdace;
    text-align: center;
    margin: 30px auto 0;
    cursor: pointer;
    background: url(../img/setbtn.png) no-repeat left top;
}

.reg_group .getPass {
    width: 255px;
    float: left;
    text-align: center;
}

.reg_group .getPass li {
    width: 105px;
    line-height: 26px;
    margin: 0 2px;
    border: 1px solid #d2a972;
    color: #d2a972;
    cursor: pointer;
}

.reg_group .getPass li.on,
.reg_group .getPass li:hover {
    color: #fff;
    border-color: transparent;
    background: url(../img/forgot_btn.png) repeat-x;
}

.reg_title .kefu {
    position: relative;
}

.reg_title .kefu a {
    position: absolute;
    right: 270px;
    top: 5px;
}

.reg_group.inputBtn .form-control {
    width: 140px;
    border: 0;
}

.reg_group.inputBtn .input-group {
    border: 1px solid #ffd08c;
}

.reg_group.inputBtn .input-group-btn a {
    background: #b86e0e;
    border-radius: 0;
    border: 0;
    color: #fff;
    width: 110px;
    height: 30px;
}
.forgot_hint {
    clear: both;
    float: left;
    margin-left: 485px;
    line-height: 30px;
    color: #cf0000;
    display: none;
}

.forgot_hint.on {
    display: block;
}

.forgot_hint.on+.h25 {
    height: 0px;
}

.noRead,
.read,
.googleSucc,
.trueNameTip {
    display: none;
}

.trueNameTip.perHint {
    margin-left: 0;
}

.openChageName {
    display: none;
}

.u_perInput a[disabled="disabled"] {
    background: #ccc;
    color: #333;
}

.setInform {
    margin-left: 50px;
    height: 35px;
}

.setInform .form_time {
    margin-top: 5px;
}

.setInform .form_time input {
    width: 100px;
}

.setInform span.form_tx {
    float: left;
    line-height: 30px;
    margin: 5px 10px 0;
    color: #fff;
}

.pay_subItem>li {
    display: none;
}

.pay_subItem>li.on {
    display: block;
}

.inven_subNav>li {
    display: none;
}

.inven_subNav>li.on {
    display: block;
}

.bankNameTip {
    color: red;
    float: left;
    line-height: 32px;
    margin-left: 5px;
}

.bankNameTip.on {
    color: #fff;
}

.u_saBar .bar {
    background-color: #ffd08c;
}

.forgot_phone {
    display: none;
}

.forgotPwd,
.for_usernameTip {
    display: none;
}

.forgotPwd .state,
.forgotPwd .fast.on {
    display: none;
}
.ant-form-item-label label{
    font-size: 14px;
    color: #fff;
}
input[type="text"], input[type="password"], select{
    height: auto;
}
.ant-select-auto-complete.ant-select-lg .ant-select-selection__rendered{
    line-height: 28px;
}
.ant-form-item-control p{
    font-size: 12px;
    color: #d2a972;
    line-height: 1.5;
    margin-left: 10px;
    width: 300px;
    position: absolute;
    right: -310px;
    top: -10px;
}
.agreement{
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    height: 150px;
    overflow-y: auto;
    border: 1px solid #d2a972;
}